.edit-user-page {
    .container {
        .page-wrapper {

            .user-select {
                margin-top: 80px;
                margin-bottom: 60px;
            }

            .user-information {
                font-weight: 400;

                h2 {
                    margin-bottom: 40px;
                }

                .user-information-wrap {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 40px 80px;
                }
            }

            .btns-wrap {
                display: flex;
                justify-content: end;
                gap: 20px;
                margin-top: 80px;

                .btn-undo {
                    padding: 14px 32px;
                }

                .btn-save {
                    padding: 14px 84px;
                }
            }

        }
    }
}


select,
input {
    overflow: hidden;
    color: #5E626B;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding: 12px 12px 12px 24px;
    border: 1px solid #E3E8EE;
    margin-top: 5px;

}

select {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image: url('../../pictures/svg/usersPage/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    padding: 12px 40px 12px 24px;
    font-size: 14px;
    color: #5E626B;
    border: 1px solid #E3E8EE;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    outline: none;
    transition: border 0.3s ease;

    &:hover {
        border-color: #B0B7C3;
    }

    &:focus {
        border-color: #3f4b62;
    }
}