.root {
    position: relative;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal-wrapper {
        background-color: white;
        width: 50%;
        margin: 0 auto;
        padding: 40px 60px;

        .page-title {}

        .modal-information-wrap {
            display: grid;
            grid-template-columns: repeat(2, 244px);
            gap: 20px 40px;
            justify-content: center;
            margin: 60px 0;
        }

        .btns-wrap {
            display: flex;
            gap: 20px;
            justify-content: flex-end;
        }
    }

}