.g-header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    position: sticky;
    z-index: 11;
    background-color: white;



    .container {
        display: flex;
        gap: 20px;
        justify-content: center;

        .edit-users-btn {
            background-color: #C4C4C4
        }
    }
}