a,
button {
    color: #000;
    text-decoration: none;
    font-family: 'Rubik', 'sans-serif';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding: 14px 81px;
    border: 1px solid #C4C4C4;
    background-color: transparent;
    cursor: pointer;

    &:disabled {
        color: #C4C4C4;
        cursor: default;
    }
}

a.active {
    background: #C4C4C4;
}