.user-page {
    .container {
        .page-wrapper {
            p {
                font-weight: 300;
            }

            .user-page-header {
                display: flex;
                justify-content: space-between;

                .filters-wrap {
                    display: flex;
                    gap: 12px;

                    .dropdown-checkbox {
                        position: relative;

                        .dropdown-header {
                            cursor: pointer;
                            color: #C2C2C2;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0.2px;
                            padding: 14px 12px;
                            border: 1px solid #E3E8EE;
                            display: flex;
                            align-items: center;
                            gap: 80px;
                            width: 230px;
                            justify-content: space-between;

                            &.selected {
                                color: black;
                            }


                            svg {
                                &.active {
                                    transform: rotate(180deg);
                                }
                            }

                        }

                        .dropdown-list {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            position: absolute;
                            z-index: 10;
                            opacity: 0;
                            transform: scaleY(0);
                            transform-origin: top;
                            transition: opacity 0.3s ease, transform 0.3s ease;
                            background-color: #fff;

                            &.open {
                                opacity: 1;
                                transform: scaleY(1);
                            }

                            .dropdown-item {
                                display: flex;
                                align-items: center;
                                padding: 8px;
                                position: relative;


                                input {
                                    display: none;
                                }

                                label {
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;
                                    padding-left: 8px;
                                    flex-direction: row;

                                    &::before {
                                        content: '';
                                        width: 24px;
                                        height: 24px;
                                        border: 1px solid black;
                                        display: inline-block;
                                        margin-right: 8px;
                                        border-radius: 0;
                                        transition: background-color 0.3s ease;
                                    }
                                }

                                input:checked+label::before {
                                    background-color: black;


                                }

                                input:checked+label::after {
                                    content: '';
                                    position: absolute;
                                    top: 10px;
                                    left: 24px;
                                    width: 8px;
                                    height: 15px;
                                    border: 1px solid white;
                                    border-width: 0 2px 2px 0;
                                    transform: rotate(45deg);
                                }
                            }




                        }

                        &.available {
                            border: 1px solid black;
                        }

                    }

                    .delete-filters-btn {
                        padding: 12px;
                        border: 1px solid #C4C4C4;
                    }
                }
            }

            .users-table {
                width: 100%;
                border: 1px solid #E3E8EE;
                margin-top: 40px;
                table-layout: fixed;
            }

            .users-table {
                width: 100%;
                table-layout: fixed;



                td,
                th {
                    padding: 28px 50px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;

                }

                thead {
                    color: #000;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0.4px;

                }

                .col-fullname {
                    width: 25%;
                }

                .col-department {
                    width: 30%;
                }

                .col-country {
                    width: 25%;
                }

                .col-status {
                    width: 15%;
                }

                .col-delete {
                    width: 5%;
                }
            }
        }

    }

}